<div class="ibody">
  <header>
    <h1>狼傷</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo"><a href="{:U('Index/index','','',0)}"></a></div>
    <nav id="topnav"><a class="a" href="{:U('Index/index','','',0)}">首页</a><a class="b" href="{:U('Index/dailyList','','',0)}">我的文章</a><a class="c" href="{:U('Index/leaveMessage','','',0)}">留言板</a><a class="d" href="{:U('Index/albumList','','',0)}">图片生活</a><a class="e" href="{:U('Index/about','','',0)}">关于我</a></nav>
  </header>
