<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我</title>
<meta name="keywords" content="个人博客模板,博客模板,响应式" />
<link href="__PUBLIC__/css/base.css" rel="stylesheet">
<link href="__PUBLIC__/css/about.css" rel="stylesheet">
<link href="__PUBLIC__/css/media.css" rel="stylesheet">
<link href="__PUBLIC__/css/index.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
    <include file="Common/header"/>
  <article>
       <include file="Common/banner"/>
    <h3 class="about_h">您现在的位置是：<a href="{:U('Index/index','','',0)}">首页</a>><a href="{:U('Index/about','','',0)}">关于我</a></h3>
    <div class="about">
      <h2>Just about me</h2>
      <ul>
        <p>陈海龙，男，23岁，一个喜欢安静，看书，看电影的人。在生活中一直准许这着自己的生活态度：用心甘情愿的态度去过随遇而安的生活。生活中很多事情不可强求，谁也不知道明天会发生什么，人能够控制的只有自己。</p>
        <p>当我还是一个学生时，我无数次的幻想着未来的生活方式，如：每天穿着西装，打着领带坐在办公室里面指点江山；也有投身军旅，挥汗如雨，报价卫国的豪情...。但是，生活却不是想象出来的，当我现在真正的离开学校，投生社会这个打圈子里面时，才会发现当初的想法是多么的可笑和不切实际。</p>
        <p>刚刚出生社会，面对一次一次的碰壁，一次一次的尝试，最终我走上了技术之路。在这条路上，我摸爬滚打将近一年，在这一年中，我要感谢那些在我遇到问题是，给予我帮助的人，也要感谢那些，在我放弃或者骄傲是鼓励和打击我的人，让我一直保持着对技术的追求欲望...</p>
      </ul>
      <!--
      <h2>About my blog</h2>
      
      <ul class="blog_a">
        <p>域  名：www.yangqq.com 创建于2011年01月12日 <a href="http://www.net.cn/domain/" class="blog_link" target="_blank">注册域名</a><a class="blog_link" href="http://koubei.baidu.com/womc/s/www.yangqq.com" target="_blank">邀你点评</a></p>
        <p>服务器：阿里云服务器<a href="http://www.aliyun.com/product/ecs/?ali_trackid=2:mm_11085263_4976026_15602229:1389838528_3k2_34164590" class="blog_link" target="_blank">购买空间</a><a href="/jstt/web/2014-01-18/644.html" target="_blank" class="blog_link" >参考我的空间配置</a></p>
        <p>程  序：PHP 帝国CMS7.0</p>
        <p>微信公众号：wwwyangqqcom</p>
      </ul>
      -->
    </div>
  </article>
</div>
    <include file="Common/right"/> 
</body>
</html>
