<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <title>图片列表</title>
        <meta name="keywords" content="个人博客模板,博客模板,响应式" />
        <meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
        <link href="__PUBLIC__/css/base.css" rel="stylesheet">
        <link href="__PUBLIC__/css/style.css" rel="stylesheet">
        <link href="__PUBLIC__/css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" href="http://keleyi.com/keleyi/phtml/jqtexiao/3/css/keleyi.css">
        <script type="text/javascript" src="http://keleyi.com/keleyi/pmedia/jquery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="http://keleyi.com/keleyi/phtml/jqtexiao/3/js/keleyi.min.js"></script>
        <script>
    $(function(){
        $(".a").attr("id",'');
        $(".d").attr("id","topnav_current");
    });
</script>


        

        <!--[if lt IE 9]>
        <script src="js/modernizr.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="ibody">
            <include file='Common/header'/>
            <article>
                <h2 class="about_h">您现在的位置是：<a href="{:U('Index/index','','',0)}">首页</a>><a href="{:U('Index/albumList','','',0)}">图片分享</a>><a href="">图片列表</a></h2>
                <div class="template" >
                    <h3>
                        <p>相片列表</p>
                        <a href="/" class="more"></a> 
                    </h3>
                    <div class=" dengxaing-keleyi-com">
                        <ul>
                            <foreach name='photoList' item='v' key='k'>
                                <li><a class="photo_lList" title="{$v['description']}" data-name='{$v.name}' href="{$v.photo_path}"><img style="height:110px;" src="{$v.photo_path}"></a><span>{$v.name}</span></li>
                            </foreach>
                        </ul>
                    </div>
                </div>
                <div class="page">{$pageList}</div>

            </article>
            <include file="Common/aside"/>
            <script src="__PUBLIC__/js/silder.js"></script>
            <div class="clear"></div>
            <!-- 清除浮动 --> 
        </div>
<script type="text/jscript">
    $(document).ready(function() {
        $('.dengxaing-ke' + 'leyi-com').magnificPopup({
            delegate: 'a',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0,1]  // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                titleSrc: function(item) {
                    return item.el.attr('title') + '<small>'+item.el.attr("data-name")+'</small>';
                }
            }
        });
    });

</script>
    </body>
</html>
