<!DOCTYPE html>
<html>
    <head>
        <title>添加照片</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <load href="__PUBLIC__/js/jquery_1.js"/>
    <!--<load href="__PUBLIC__/js/jquery.js"/>-->
    <load href="__PUBLIC__/js/chili-1.7.pack.js"/>
    <load href="__PUBLIC__/js/jquery.easing.js"/>
    <load href="__PUBLIC__/js/jquery.dimensions.js"/>
    <load href="__PUBLIC__/js/jquery.accordion.js"/>
    <load href="__PUBLIC__/js/my.jquery.js"/>
    <load href="/blog/Ueditor/ueditor.config.js"/>
    <load href="/blog/Ueditor/ueditor.all.js"/>
    <link rel="stylesheet" href="/blog/Ueditor/themes/default/css/ueditor.css"/>
    <link rel="stylesheet" href="/blog/Ueditor/themes/iframe.css"/>
</head>
<style>
     *{border: 0px;margin: 0px;}
    .right{width:1170px;height:505px;position:relative;}
    #edui1{display: none;}
</style>
<body>
    <table style="margin: 0"> 
        <tr><block name='header'><include file='Common/top'/></block></tr>
    <tr>
    <table border='0' cellspacing="0" cellpadding="0" padding='0' >
        <tr>
            <td width="8" bgcolor="#353c44">&nbsp;</td>
            <td>
        <block name='left'><include file='Common/left'/></block>
        </td>
        <td width="10" bgcolor="#add2da">&nbsp;</td>
        <td>
        <block name='right'> 
            <div class="right">
                <ul>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </block>
        </td>
        <td width="8" bgcolor="#353c44">&nbsp;
        </td>
        </tr>
    </table>
    </tr>
</table>
<block name='down'><include file='Common/down'/></block>
<script>
   
</script>
</body>
</html>
